<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<string>Lorenzo</string>
		<string>lorenzo</string>
		<string>Born: 1 January 1449

B.O.B: Florence, Republic of Florence

Died:8 April 1492 (aged 43)



P.O.D: Careggi, Republic of Florence

was an Italian statesman, de facto ruler of the Florentine Republic and the most powerful and enthusiastic patron of Renaissance culture in Italy. Also known as Lorenzo the Magnificent (Lorenzo il Magnifico [loˈrɛntso il maɲˈɲiːfiko]) by contemporary Florentines, he was a magnate, diplomat, politician and patron of scholars, artists and poets. As a patron, he is best known for his sponsorship of artists such as Botticelli and Michelangelo. He held the balance of power within the Italic League, an alliance of states that stabilized political conditions on the Italian peninsula for decades, and his life coincided with the mature phase of the Italian Renaissance and the Golden Age of Florence.[5] The Peace of Lodi of 1454 that he helped maintain among the various Italian states collapsed with his death. He is buried in the Medici Chapel in Florence.</string>
	</array>
	<key>2</key>
	<array>
		<string>Battle Of Centaur</string>
		<string>centaur</string>
		<string>Name: Battle of Centaur

Dates of creation:
1490 - 1492



Battle of the Centaurs is a relief by Italian Renaissance artist Michelangelo, created around 1492. It was the last work Michelangelo created while under the patronage of Lorenzo de&apos; Medici, who died shortly after its completion. Inspired by a classical relief created by Bertoldo di Giovanni, the marble sculpture depicts the mythic battle between the Lapiths and the Centaurs. A popular subject of art in ancient Greece, the story was suggested to Michelangelo by the classical scholar and poet Poliziano.

Battle of the Centaurs was a remarkable sculpture in several ways, presaging Michelangelo&apos;s future sculptural direction. Michelangelo had departed from the then current practices of working on a discrete plane to work multidimensionally. It was also the first sculpture Michelangelo created without the use of a bow drill and the first sculpture to reach such a state of completion with the marks of the subbia chisel left to stand as a final surface. Whether intentionally left unfinished or not, the work is significant in the tradition of &quot;non finito&quot; sculpting technique for that reason. Michelangelo regarded it as the best of his early works, and a visual reminder of why he should have focused his efforts on sculpture.</string>
	</array>
	<key>3</key>
	<array>
		<string>Rodrigo Borgia</string>
		<string>rodrigo</string>
		<string>Born: 1 January 1431

B.O.B:  Xàtiva, Spain

Died:August 18, 1503(72)


P.O.D: Rome, Italy

Pope Alexander VI, born Rodrigo de Borja (Valencian: Roderic Llançol i de Borja [roðeˈɾiɡ ʎanˈsɔl i ðe ˈbɔɾdʒa], Spanish: Rodrigo Lanzol y de Borja [roˈðɾiɣo lanˈθol i ðe ˈβoɾxa]; 1 January 1431 – 18 August 1503), was Pope from 11 August 1492 until his death. During the Age of Discovery, the Iberian-born pope&apos;s bulls of 1493 confirmed or reconfirmed the rights of the Spanish crown in the New World, following the finds of Christopher Columbus in 1492.[3][4] He is one of the most controversial of the Renaissance popes, partly because he acknowledged fathering several children by his mistresses. Therefore his Italianized Valencian surname, Borgia, became a byword for libertinism and nepotism, which are traditionally considered as characterizing his pontificate. Two of Alexander&apos;s successors, the controversial pontiffs Sixtus V and Urban VIII, described him as one of the most outstanding popes since Saint Peter.[5]</string>
	</array>
</dict>
</plist>
